* {
  box-sizing: border-box;
  
}

body {
  font-size: 14px;
  background-color: #FFE5B4;
  align-items: center;
  margin-bottom: -100px;
  position: absolute;
}

header {
  display:grid;
  text-align: center;
  font-size: 35px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 130px;
  background: #96DFBA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a  {
  text-decoration: none;
  color: black;
}

.logo {
  position: fixed;
  left: 200px;
  top: 30px;
  left: 20px;
  height: 90px;
  width: 90px;
}
  
.titulo{
  padding: 0;
  margin: auto;
  text-align: center;
  position: top;
}

.perfil {
  position: absolute;
  font-size: 30px;
  top: 50px;
  right: 100px;
  width: 90px;
  height: 90px;
  margin-right: 5px;
}

.content{
  position: fixed;
  top: 140px;
  height: 600px;
  width: 1500px;
  padding: 20px;
}

.perfiles{
  position: absolute;
  top: 15px;
  left: 40px;
  font-size: 40px;
  width: 1430px;
  height:280px;
}

.perf{
  position: absolute;
  font-weight: bold;
  left: 100px;
}

.imagen{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 65px;
  left: 30px;
  border-radius: 15%;
}

.lbl1{
  position:absolute;
  top: 95px;
  left: 255px;
  font-size: 25px;
  
}

.lbl2{
  position: absolute;
  top: 150px;
  left: 255px;
  font-size: 25px;
}

.lbl3{
  position: absolute;
  top: 205px;
  left: 255px;
  font-size: 25px;
}

.lbl4{
  position: absolute;
  top: 95px;
  left: 830px;
  font-size: 25px;
}

.lbl5{
  position: absolute;
  top: 150px;
  left: 830px;
  font-size: 25px;
  
}

.lbl6{
  position: absolute;
  top: 205px;
  left: 830px;
  font-size: 25px;
}

.mascotas{
  position: absolute;
  top: 320px;
  left: 40px;
  font-size: 40px;
  width: 1430px;
  height: 300px;
}

.mas{
  position: absolute;
  font-weight: bold;
  left: 100px;
}

.imagen2{
  position: absolute;
  height: 170px;
  width: 170px;
  top: 65px;
  left: 30px;
  border-radius: 15%;
}

.lbl7{
  position: absolute;
  top: 85px;
  left: 235px;
  font-size: 22px;
}

.lbl8{
  position: absolute;
  top: 140px;
  left: 235px;
  font-size: 22px;
}

.lbl9{
  position: absolute;
  top: 195px;
  left: 235px;
  font-size: 22px;
}

.imagen3{
  position: absolute;
  height: 170px;
  width: 170px;
  top: 65px;
  left: 690px;
  border-radius: 15%;
}

.lbl10{
  position: absolute;
  top: 85px;
  left: 900px;
  font-size: 22px;
}

.lbl11{
  position: absolute;
  top: 140px;
  left: 900px;
  font-size: 22px;
}

.lbl12{
  position: absolute;
  top: 195px;
  left: 900px;
  font-size: 22px;
}