.inicioP{
  background-color: #FFE5B4; 
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
}

.perfil {
  position: absolute;
  font-size: 30px;
  top: 60px;
  right: 100px;
  width: 50px;
  height: 50px;
  margin-right: 5px; 
}

header{
  display:grid;
  text-align: center;
  font-size: 35px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 130px;
  background: #96DFBA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a  {
  text-decoration: none;
  color: black;
}

.titulo {
  padding: 0;
  margin: auto;
  text-align: top;
  position: top;
  font-family: Modak;
  font-size: 50px;
  width: 975px;
  top: 0px;
  left: 232px;
  margin-top: -70px;
}



.content{
  background-color: red;
  margin-top: 135px;
  height: 1000px;
  width: auto;
}

.perfil{
  top: 140px;
  left: 10px;
  background-color: beige;
  width: auto;
  height: auto;
}

.v98_11{
  width: 200px;
  font-size: 40px;
  font-weight: bold;
  top: 155px;
  left: 70px;
}

.img{
  height: 200px;
  width: 200px;
  top: 400px;
  left: 80px;
}


.v98_12{
  top: 240px;
  left: 300px;
}

.v98_14{
  top: 260px;
  left: 600px;
}

.v98_13{

}

.v98_15{
  top: 400px;
  left: 100px;
}

.v98_16{

}

.v98_17{

}

.mascotas{
  background-color: aqua;
  top: 800px;
  left: 10px;
}

.img1{
  height: 200px;
  width: 200px;
  top: 800px;
  left: 80px;
  /*margin-top: -800px;
  margin-left: 50px;*/
}

.img2{
  height: 200px;
  width: 200px;
  top: 800px;
  left: 100px;

  /*margin-top: -800px;
  margin-left: 50px;*/
}


/*.v98_11 {
    width: 333px;
    color: rgba(0,0,0,1);

    top: 200px;
    left: 76px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
  .v98_22 {
    width: 333px;
    color: rgba(0,0,0,1);

    top: 574px;
    left: 72px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
  .v98_18 {
    width: 333px;
    color: rgba(0,0,0,1);

    top: 652px;
    left: 307px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v98_19 {
    width: 333px;
    color: rgba(0,0,0,1);
    top: 814px;
    left: 307px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v98_20 {
    width: 333px;
    color: rgba(0,0,0,1);
    top: 733px;
    left: 307px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v98_24 {
    width: 333px;
    color: rgba(0,0,0,1);
    top: 652px;
    left: 916px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v98_25 {
    width: 333px;
    color: rgba(0,0,0,1);
    top: 814px;
    left: 916px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v98_26 {
    width: 333px;
    color: rgba(0,0,0,1);
    top: 733px;
    left: 916px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  section{
    display: flex;
  }
  .v117_14 {
    width: 985px;
    height: 188px;
    display:inline-block;
    flex-wrap: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    top: 329px;
    left: 307px;
    overflow: hidden;
  }
  .mascotas{
    width: 985px;
    height: 188px;
    display: flex;
    flex-wrap: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    top: 329px;
    left: 307px;
    overflow: hidden;
  }
  .v98_12 {
    width: 375px;
    color: rgba(0,0,0,1);
    top: 0px;
    left: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v98_14 {
    width: 375px;
    color: rgba(0,0,0,1);
    top: 152px;
    left: 0px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v98_13 {
    width: 375px;
    color: rgba(0,0,0,1);
    top: 76px;
    left: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v98_15 {
    width: 375px;
    color: rgba(0,0,0,1);
    top: 0px;
    left: 609px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v98_16 {
    width: 375px;
    color: rgba(0,0,0,1);
    top: 152px;
    left: 603px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v98_17 {
    width: 375px;
    color: rgba(0,0,0,1);
    top: 76px;
    left: 609px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  
.content{
  background: red;
  align-items: first baseline;
  display: flex;
  padding: 200px;
  top:135px;

}*/
