* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v86_8 {
    width: 100%;
    height: 1820px;
    background: rgba(232,255,209,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v86_9 {
    width: 100%;
    height: 200px;
    background: rgba(150,223,186,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v97_22 {
    width: 282px;
    color: rgba(37,37,37,1);
    position: absolute;
    top: 142px;
    left: 54px;
    font-family: Mirza;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v97_21 {
    width: 129px;
    height: 130px;
    background: url("/img/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 128px;
    border-top-left-radius: 184px;
    border-top-right-radius: 184px;
    border-bottom-left-radius: 184px;
    border-bottom-right-radius: 184px;
    overflow: hidden;
  }
  .v86_10 {
    width: 434px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 24px;
    left: 503px;
    font-family: Modak;
    font-weight: Regular;
    font-size: 100px;
    opacity: 0.8999999761581421;
    text-align: center;
  }
  .v93_58 {
    width: 400px;
    height: 400px;
    background: url("../images/v93_58.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 253px;
    left: 32px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v93_59 {
    width: 915px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 293px;
    left: 495px;
    font-size: 25px;
    opacity: 1;
    text-align: left;
  }
  .v93_63 {
    width: 893px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1263px;
    left: 495px;
    font-size: 25px;
    opacity: 1;
    text-align: left;
  }
  .v93_60 {
    width: 400px;
    height: 400px;
    background: url("../images/v93_60.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 733px;
    left: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v93_61 {
    width: 893px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 759px;
    left: 495px;
    font-size: 25px;
    opacity: 1;
    text-align: left;
  }
  .v95_10 {
    width: 402px;
    height: 400px;
    background: url("/img/gato.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 752px;
    left: 52px;
    border: 7px solid rgba(155,204,138,1);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
  }
  .v95_14 {
    width: 402px;
    height: 384px;
    background: url("/img/perro2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1250px;
    left: 52px;
    border: 10px solid rgba(155,204,138,1);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
  }
  .v95_18 {
    width: 400px;
    height: 389px;
    background: url("/img/pez.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 264px;
    left: 54px;
    border: 5px solid rgba(154,204,137,1);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }